.title{
    margin-top: 50%;
    font-size: 2rem;
    font-weight: 800;
}
.phoneInput{
    background-color: peru
}
.background{
    // background-color: peru;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url("../../assets/background/inicio.jpg");
    
}