
      <div class="background">
        <ion-title class="ion-text-center title" style="color:antiquewhite">
          Inserte su telefono
        </ion-title>
  <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <ion-item>
            <ion-label position="floating">Tel : </ion-label>
            <ion-input type="text" [(ngModel)]="phone" name="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  

<ion-button class="ion-no-padding ion-no-margin" (click)="onSubmit()">
    <ion-label>Buscar Pedidos</ion-label>
  </ion-button>