<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-badge color="primary">{{pedidoservice.recibidos}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-outline" color="success"></ion-icon>
      <ion-badge color="success">{{pedidoservice.entregados}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="close-outline"color="danger"></ion-icon>
      <ion-badge color="danger">{{pedidoservice.rechazados}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
